.container{
  width: 100%;
  text-align: center;
  margin: 10px auto;
}


input, button{
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid rgba(0.0.0.0.15);
  border-radius: 5px;
}
.searchArea, .image{
   width: 100%;
   text-align: center;
}
.heading{
  font-size : 18px;
  width: 100%;
 text-align: center;
}
.item{
  display: inline-block;
  border: 1px solid rgba(0.0.0.0.15);
  background-color: #F5F5F5;
  text-align: start;
  text-decoration: none;
  color: black;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
h4, h5{
  margin: 5px 0 ;
}
h5{
  margin: 2px 0;
}

@media only screen and (min-width:901px){
  .container{
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  }
}